:root {
    --elementosGrama: rgba(99, 188, 90, 1);
    --escala-de-cinzapreto: rgba(0, 0, 0, 1);
    --elementosvenenoso: rgba(181, 103, 206, 1);
    --preto: rgba(0, 0, 0, 1);
    --branco: rgba(255, 255, 255, 1);
}
